# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
work/PS2EXE-master.zip
work/TechNet-Gallery-master.zip
work/build.ps1
work/Info+_CLI/PS2EXE-master.zip
work/.vscode/c_cpp_properties.json
work/.vscode/settings.json
work/Info+_CLI/MyCert.pfx
work/Info+_CLI/ConfigPackageToEXE copy.ps1
work/Info+_CLI/package222.psd1
/work/Info+_CLI/tests
work/Info+_CLI/infoplus.ps1
work/Info+_CLI/encoded_infoplus.txt
work/Info+_CLI/GUI/GUIencode.py

work/report/venv
work/report/__pycache__
work/report/Linux/__pycache__/